{% extends "index.html" %} {% load static %} {% block content %}
<div class="container-fluid p-0">
  <div class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="w-100" src="{% static 'image/hms_1.jpg' %}" alt="Image">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="padding-bottom:170px;">
                  <div class="p-3" style="max-width: 900px;">
                    <h5 class="card-title" style="text-align:center; font-size:50px; color:black; padding-bottom: 4px;">SignUp</h5>
                    <form class="django-form" method="POST">
                      {% csrf_token %} {{form.as_p}}
                      <div class="center">
                        <button class="btn btn-dark rounded-4 px-3 py-2">Submit</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}